{% extends "layout.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock  %}

{% block page_title %}
index.html
{% endblock page_title %}

{% block content %}
<div class="container">
  <div class="row">
     <div class="col">
      <a href="create">create product</a>
      <a href="list">products</a>
      <hr>
      <form action="list" method="GET">
        Kelime : <input type="text" name="q">
        <button type="submit">Submit</button>
    </form>
    {% comment %} {% for c in categories %}
        <a class="btn btn-primary" href="{% url "products_by_category" category=c %}"> {{c}}</a>
    {% endfor %} {% endcomment %}
    <ul>
    {%for product in products %}
    
    <li>
     <a href={% url 'product_details' product.slug %} >
     {{ product.name }}
     </a>
          - {{ product.price }}
  </li>
   
   {% endfor %}
    </ul>
    {% comment %} <hr>
            <p> {{ product_count }} adet ürün bulundu. </p>
            <p> {{ price.avg_price }} TL ortalama fiyat hesaplandı. </p>
            <p> {{ price.min_price}} TL min fiyat hesaplandı. </p>
            <p> {{ price.max_price }} TL max fiyat hesaplandı. </p> {% endcomment %}
     </div>
  </div>
</div>
{% endblock  %}



{% block js_files %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
